<h6>cpu</h6>
<div ng-model="selectedTab" chartgroup>
    <div class="chart" data-chart-type="stacked_line" data-chart-group="overview" data-chart-title="cpu usage", data-chart-legend="user,system,wait,softirq,interrupt,nice,steal", data-chart-key="{{subtab.key}}/cpu-user.rrd/value,{{subtab.key}}/cpu-system.rrd/value,{{subtab.key}}/cpu-wait.rrd/value,{{subtab.key}}/cpu-softirq.rrd/value,{{subtab.key}}/cpu-interrupt.rrd/value,{{subtab.key}}/cpu-nice.rrd/value,{{subtab.key}}/cpu-steal.rrd/value"></div>
</div>