<h6>memory</h6>
<div ng-model="selectedTab" chartgroup>
	<div class="chart span5" data-chart-type="line" data-chart-group="memory" data-chart-title="used" data-chart-legend="used" data-chart-key="memory/memory-used.rrd/value"></div>
	<div class="chart span5" data-chart-type="line" data-chart-group="memory" data-chart-title="buffered" data-chart-legend="buffered" data-chart-key="memory/memory-buffered.rrd/value"></div>
	<div class="chart span5" data-chart-type="line" data-chart-group="memory" data-chart-title="cached" data-chart-legend="cached" data-chart-key="memory/memory-cached.rrd/value"></div>
	<div class="chart span5" data-chart-type="line" data-chart-group="memory" data-chart-title="free" data-chart-legend="free" data-chart-key="memory/memory-free.rrd/value"></div>
</div>