<h6>processes (overview)</h6>
<div ng-model="selectedTab" chartgroup>
  <div class="chart span5" data-chart-type="multi_line" data-chart-group="processes" data-chart-title="ps_state" data-chart-legend="running,sleeping,blocked,stopped,paging,zombies" data-chart-key="processes/ps_state-running.rrd/value,processes/ps_state-sleeping.rrd/value,processes/ps_state-blocked.rrd/value,processes/ps_state-stopped.rrd/value,processes/ps_state-paging.rrd/value,processes/ps_state-zombies.rrd/value"></div>
</div>