<h6>protocol (overview)</h6>
<div ng-model="selectedTab" chartgroup>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="tcp" data-chart-title="TCP InErrs" data-chart-legend="value" data-chart-key="protocols-Tcp/protocol_counter-InErrs.rrd/value"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="tcp" data-chart-title="TCP RetransSegs" data-chart-legend="value" data-chart-key="protocols-Tcp/protocol_counter-RetransSegs.rrd/value"></div>
  <div class="chart span5" data-chart-type="multi_line" data-chart-group="tcp" data-chart-title="TCP In/Out Segments" data-chart-legend="InSegs,OutSegs" data-chart-key="protocols-Tcp/protocol_counter-InSegs.rrd/value,protocols-Tcp/protocol_counter-OutSegs.rrd/value"></div>
  <div class="chart span5" data-chart-type="multi_line" data-chart-group="tcp" data-chart-title="TCP Opens" data-chart-legend="Active,Passive" data-chart-key="protocols-Tcp/protocol_counter-ActiveOpens.rrd/value,protocols-Tcp/protocol_counter-PassiveOpens.rrd/value"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="tcp" data-chart-title="TCP CurrEstab" data-chart-legend="value" data-chart-key="protocols-Tcp/protocol_counter-CurrEstab.rrd/value"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="tcp" data-chart-title="TCP OutRsts" data-chart-legend="value" data-chart-key="protocols-Tcp/protocol_counter-OutRsts.rrd/value"></div>
</div>
