<h6>swap</h6>
<div ng-model="selectedTab" chartgroup>
    <div class="chart span5" data-chart-type="line" data-chart-group="swap" data-chart-title="used" data-chart-legend="used" data-chart-key="swap/swap-used.rrd/value"></div>
    <div class="chart span5" data-chart-type="line" data-chart-group="swap" data-chart-title="cached" data-chart-legend="cached" data-chart-key="swap/swap-cached.rrd/value"></div>
    <div class="chart span5" data-chart-type="line" data-chart-group="swap" data-chart-title="free" data-chart-legend="free" data-chart-key="swap/swap-free.rrd/value"></div>
    <div class="chart span5" data-chart-type="line" data-chart-group="swap" data-chart-title="io-in" data-chart-legend="used" data-chart-key="swap/swap_io-in.rrd/value"></div>
    <div class="chart span5" data-chart-type="line" data-chart-group="swap" data-chart-title="io-out" data-chart-legend="cached" data-chart-key="swap/swap_io-out.rrd/value"></div>
</div>