<h6>swap (overview)</h6>
<div ng-model="selectedTab" chartgroup>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="swap" data-chart-title="Swap Memory" data-chart-legend="used,cached,free" data-chart-key="swap/swap-used.rrd/value,swap/swap-cached.rrd/value,swap/swap-free.rrd/value"></div>
  <div class="chart span5" data-chart-type="multi_line" data-chart-group="swap" data-chart-title="Swap I/O" data-chart-legend="in,out" data-chart-key="swap/swap_io-in.rrd/value,swap/swap_io-out.rrd/value"></div>
</div>