<h6>vmem</h6>
<div ng-model="selectedTab" chartgroup>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="vmpage_io-memory" data-chart-legend="in,out" data-chart-key="vmem/vmpage_io-memory.rrd/in,vmem/vmpage_io-memory.rrd/out"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="vmpage_faults" data-chart-legend="minor,major" data-chart-key="vmem/vmpage_faults.rrd/minflt,vmem/vmpage_faults.rrd/majflt"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="dirty" data-chart-legend="value" data-chart-key="vmem/vmpage_number-dirty.rrd/value"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="slab" data-chart-legend="value" data-chart-key="vmem/vmpage_number-slab.rrd/value"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="file_pages" data-chart-legend="value" data-chart-key="vmem/vmpage_number-file_pages.rrd/value"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="page_table_pages" data-chart-legend="value" data-chart-key="vmem/vmpage_number-page_table_pages.rrd/value"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="anon_pages" data-chart-legend="value" data-chart-key="vmem/vmpage_number-anon_pages.rrd/value"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="writeback" data-chart-legend="value" data-chart-key="vmem/vmpage_number-writeback.rrd/value"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="unstable" data-chart-legend="value" data-chart-key="vmem/vmpage_number-unstable.rrd/value">
  </div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="mapped" data-chart-legend="value" data-chart-key="vmem/vmpage_number-mapped.rrd/value"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="bounce" data-chart-legend="value" data-chart-key="vmem/vmpage_number-bounce.rrd/value"></div>
</div>