<h6>vmem (overview)</h6>
<div ng-model="selectedTab" chartgroup>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="vmpage_io-memory" data-chart-legend="in,out" data-chart-key="vmem/vmpage_io-memory.rrd/in,vmem/vmpage_io-memory.rrd/out"></div>
  <div class="chart span5" data-chart-type="stacked_line" data-chart-group="vmem" data-chart-title="vmpage_faults" data-chart-legend="minor,major" data-chart-key="vmem/vmpage_faults.rrd/minflt,vmem/vmpage_faults.rrd/majflt"></div>
</div>